<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
  <!-- DTD 유효성검사=> 아래에 config가 없으면 에러가난다~  -->
  
  
  <!-- 여기서 오타로인한 에러 많이 뜸  -->
<configuration>

	<!-- setting : mybatis를 구동시 선언할 설정들을 작성하는 영역  -->
	<settings>
		<!-- 만약에 NULL 데이터가 전달되었다면 DB에 빈칸데이터가 들어가는데, 빈칸이 아닌 NULL로 인식을해라, NULL로 들어감.(무조건 VALUE를 대문자 NULL로 해야지됨) -->
		<setting name="jdbcTypeForNull" value="NULL"/>
		
	</settings>
	
	<!-- typeAlias : VO/DTO 클래스들의 풀클래스명을 단순한 클래스명으로 사용하기 위해서 별칭을 등록할 수 있는 영역, 안하면 풀네임com.kh...다써야함 -->
	<typeAliases>
	<!-- 타입에 풀 클래스명 -->
		<typeAlias type="com.kh.mybatis.member.model.vo.Member" alias="Member"/>
		<!-- 오타나서 못찻으면 클래스낫파운드  -->
		<typeAlias type="com.kh.mybatis.board.model.vo.Board" alias="Board"/>
	
	</typeAliases>
	
	
	<!-- * environments : mybatis에서 연동할 DB정보들을 등록하는 영역/ 예전에 driver.properties 에서 썼던것들을 여기에씀. 디비 여러개도 등록 가능 -->
	<environments default="devlopment">
	
	
		<environment id="devlopment">
		<!--  기본값  -->
		
		<!-- 
			*transactionManager는 JDBC MANAGED 둘 중 하나를 선택 할 수 있음
			- JDBC : 트랜젝션을 내가 직접 관리 하겠다 (수동 commit)
			- MANAGED : 트랜잭션에 대해서 어떠한 영향도 행사하지 않겠다. (자동 commit)
		 -->
			<transactionManager type="JDBC"/>
			
			<!-- 
				*dataSource는 POOLED와 UNPOLLED 둘 중 하나 선택할 수 있음 (ConnectionPool 사용여부)
				
				>> ConnectionPool : Connection 객체를 담아 둘 수 있는 영역(커넥션 수영장)
									한 번 사용된 Connection 객체를 담아 두면 필요할 때마다 재사용해서 쓸 수 있음. (안하면 쓸때마다 생성해야됨)
					
					- POOLED : 사용하겠다.
					- UNPOOLEC : 사용하지 않겠다.	
			 -->
			<dataSource type="POOLED">
				<property name="driver" value="oracle.jdbc.driver.OracleDriver"/>
				<property name="url" value="jdbc:oracle:thin:@localhost:1521:xe"/>
				<property name="username" value="mybatis"/>
				<property name="password" value="mybatis"/>
			</dataSource>
			
		</environment>

	</environments>
	
	<!-- *mapper : 실행할 sql문들을 기록해 둔 mapper 파일들을 등록하는 영역  -->
	<mappers>
		<mapper resource="/mappers/member-mapper.xml"/>
		<!-- 없는거 미리 넣어놓으면 안됨, xml안에 뭐가 있어야함! 와꾸만만들어놓은 아무내용없는 파일 등록하면 에러남 -->
		<mapper resource="/mappers/board-mapper.xml"/> 
	</mappers>
	
	
</configuration>